.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 100px;
  padding: 0px 20px;
}
@media only screen and (max-width: 900px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-container {
    grid-template-columns: 3.5fr 1.5fr;
  }
}
@media only screen and (max-width: 700px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .shop-container {
    grid-template-columns: 3.5fr 1.5fr;
  }
}
